set editing-mode vi

# ignore case in tab completion
set completion-ignore-case on

# show matches immediately (instead of after 2xTAB)
set show-all-if-ambiguous on
set show-all-if-unmodified on

# replace _ by - and vice versa
set completion-map-case on

# disable the "-- more --" prompt for long lists
set page-completions off

# show the "Display (...) possibilities?" prompt only for long lists
set completion-query-items 1000

# disable the sound bell
set bell-style none
