# Move to .config: https://github.com/llvm/llvm-project/issues/71426

settings set prompt '$ '

settings set auto-confirm true

settings set stop-line-count-before 10
settings set stop-line-count-after 10
settings set interpreter.prompt-on-quit false

command alias bdi breakpoint disable
command alias bde breakpoint delete
command alias ben breakpoint enable
