<?xml version="1.0"?>
<clickhouse>

    <listen_host>localhost</listen_host>

    <path>/var/lib/ch1/</path>

    <tcp_port>9000</tcp_port>
    <http_port>8123</http_port>
    <interserver_http_port>9009</interserver_http_port>

    <!-- <users_config>ch-users.xml</users_config> -->

    <logger>
        <level>trace</level>
        <console>true</console>
    </logger>

    <query_log>
        <database>system</database>
        <table>query_log</table>
        <engine>Engine = MergeTree PARTITION BY event_date ORDER BY event_time TTL event_date + INTERVAL 30 day</engine>
        <flush_interval_milliseconds>7500</flush_interval_milliseconds>
    </query_log>

    <!-- https://docs.google.com/presentation/d/17WMonmZLGSTfsQulgCPBAHk9roI0NcO0DLM9ArqrQqU/ -->

    <!-- Configure zookeepers -->
    <keeper_server>
    <!-- Configure zookeepers -->
        <tcp_port>9181</tcp_port> <!-- how to reach zookeeper from clickhouse-server -->
        <server_id>1</server_id>
        <!-- Other servers in the ensemble and how to connect to them -->
        <raft_configuration>
            <server>
                <id>1</id>
                <hostname>localhost</hostname>
                <port>9234</port> <!-- how zookeepers talk to each other -->
            </server>
            <!-- <server> -->
            <!--     ... -->
            <!-- </server> -->
        </raft_configuration>
    </keeper_server>

    <!-- Tell clickhouse-server to which zookeeper it should connect. -->
    <!-- This would include all servers in "raft_configuration" in "keeper_server". -->
    <zookeeper>
        <node>
            <host>localhost</host>
            <port>9181</port>
        </node>
        <!-- <node> -->
        <!--     ... -->
        <!-- </node> -->
    </zookeeper>

    <distributed_ddl>
        <path>/clickhouse/task_queue/ddl</path>
    </distributed_ddl>

</clickhouse>
