<?xml version="1.0"?>
<clickhouse>

    <listen_host>localhost</listen_host>

    <path>/data/instances/ch1/</path>

    <tcp_port>9000</tcp_port>
    <http_port>8123</http_port>
    <interserver_http_port>9009</interserver_http_port>

    <users_config>users.xml</users_config>

    <access_control_path>access</access_control_path>

    <logger>
        <level>trace</level>
        <console>true</console>
    </logger>

    <query_log>
        <database>system</database>
        <table>query_log</table>
        <engine>Engine = MergeTree PARTITION BY event_date ORDER BY event_time TTL event_date + INTERVAL 30 day</engine>
        <flush_interval_milliseconds>7500</flush_interval_milliseconds>
    </query_log>

    <text_log>
        <database>system</database>
        <table>text_log</table>
        <flush_interval_milliseconds>7500</flush_interval_milliseconds>
        <max_size_rows>1048576</max_size_rows>
        <reserved_size_rows>8192</reserved_size_rows>
        <buffer_size_rows_flush_threshold>524288</buffer_size_rows_flush_threshold>
        <flush_on_crash>false</flush_on_crash>
    </text_log>

    <distributed_ddl>
        <path>/clickhouse/task_queue/ddl</path>
    </distributed_ddl>

    <!-- https://docs.google.com/presentation/d/17WMonmZLGSTfsQulgCPBAHk9roI0NcO0DLM9ArqrQqU/ -->
    <!--https://clickhouse.com/docs/deployment-guides/parallel-replicas-->

    <!-- https://clickhouse.com/docs/architecture/replication#configure-clickhouse-keeper-nodes -->

</clickhouse>
